import React, { Component } from 'react';

class MyComponent extends Component {

  static propTypes = {
    tasks: React.PropTypes.array,
    displayDate: React.PropTypes.bool,
    formatDate: React.PropTypes.func,
    nrbOfItems: React.PropTypes.number,
    config: React.PropTypes.object,
    title: React.PropTypes.string,
    required: React.PropTypes.*.isRequired,
  };

  render() {
    return (
      <h1>Hello LavaJUG!</h1>
    );
  }
}
