import React, { Component } from 'react';
import PropTypes from 'prop-types';

class MyComponent extends Component {

  static propTypes = {
    tasks: PropTypes.array,
    displayDate: PropTypes.bool,
    formatDate: PropTypes.func,
    nrbOfItems: PropTypes.number,
    config: PropTypes.object,
    title: PropTypes.string,
    required: PropTypes.*.isRequired,
  };

  render() {
    return (
      <h1>Hello PWN!</h1>
    );
  }
}
